.PaperInformation {
    padding: 10px;
}

.PaperRadioButtons {
    padding: 15px;
}

.PaperButtons {
    padding: 15px;
}

.PaperSliders {
    padding: 15px;
}

.PaperNumberInputs {
    padding: 15px;
}

.Grow {
    flex-grow: 1;
}