.SidebarGrid {
    padding: 20px;
}

.SidebarDrawer .MuiDrawer-paper {
    margin-top: 50px;
    height: calc(100% - 50px);
    width: 25vw;
    overflow-x: hidden;
}

.PaperRadioControl {
    padding: 15px;
}

.PaperSliderControl {
    padding: 45px 25px 5px 25px;
}